# For local SQLite development
DATABASE_URL=your_database_url

# SECURITY CONFIG: Change this to a long random string for production
SECRET_KEY=your_secret_key_here

# The algorithm used to sign the JWT tokens
ALGORITHM=algorithm_jwt_tokens

# How long the user stays logged in before needing to re-login (in minutes)
ACCESS_TOKEN_EXPIRE_MINUTES=token_expire_time