# Required libraries for this entire project

fastapi     # The main web framework + essential tools
uvicorn
sqlalchemy   # The ORM for database management
pydantic
python-jose    # For creating and verifying JWT tokens
passlib[bcrypt]   # For secure password hashing
python-dotenv     # Required if you ever decide to use form-data for login