python-3.11.9

# Web Framework for building the API
fastapi==0.110.0

# ASGI server to run the FastAPI application
uvicorn==0.29.0

# Database toolkit and ORM for SQL interactions
sqlalchemy==2.0.29

# Data validation and settings management using Python type annotations
pydantic==2.6.4

# Library for creating and verifying JSON Web Tokens (JWT)
python-jose==3.3.0

# Password hashing library for secure user authentication
passlib[bcrypt]==1.7.4

# Hashing algorithm support required by Passlib
bcrypt==3.2.2

# Loads environment variables from a .env file (used for DB URLs and Secrets)
python-dotenv==1.0.1